.navbar{
    background:#000000bd
}
body{
    font-family: 'Cabin', sans-serif;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 1.5px;
    height: 1px;
    background-color: #000000;
    animation: blink 1.3s step-end infinite;


}

#SecondUnitContent-1{
    margin-top: 100px;
}
#SecondUnitContent-2{
    margin-bottom: 80px;
}
@keyframes blink {
    from, to {
        background-color: transparent
    }
    50% {
        background-color: #000000;
        padding-top: 35px;
        padding-bottom: 3px;
    }
}



@keyframes blink {
    from, to {
        background-color: transparent
    }
    50% {
        background-color: #000000;
        padding-top: 35px;
        padding-bottom: 3px;
    }
}
.jumbotron{
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    height: 90vh;

}
.display-4{
    color: #fff;
}

.jumbotron #typtext{
    color: #39ff14;
    font-size: 10vw;
    text-shadow: 0px 0px 8px #00000056;
}
.lead{
    width: 30px;
    font-size: 10px;

}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login{
    color: white;
}

.signup{
    color: white;
}



.about{
    height: 200vh;
    display: flex;
    margin: 0 !important;

}
.about-title{
    width: 50%;
    height: 100vh;
    text-overflow: hidden;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;

}



.about-pages{
    width: 50%;
}

.about-pages div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 2px #000000;
    background-color: rgba(0, 0, 0, 0.89);
}

.about-pages div> p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1){
    background-image: url(./images/9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.about-pages div:nth-child(2){
    background-image: url(./images/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.imgbackexp{
    z-index: -200;
}

.about-title h2{
    font-size: 10vw;
}

.video-div{
  display: block;
}

.video-coordinates{
    position: relative;
    left: 348px;
}

/*-------------------------------------------------------4th unit-------------------------------------------------------*/
.unitfomain h1{
    text-align: center;
    /* background: linear-gradient(90deg,#000,#000,#000,#0f0f0fc4); */
    font-size: 6vw;
    color: #fff;
    text-transform: capitalize;
}

.team{
   padding: 1vmax 10vw;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-team a{
    display: block;
    background-color: #000;
}

.team-card {
    padding-bottom: 24vmax;
   background-position: center;
   background-size: cover;
   width: 20vmax;
   height: 30vmax;
   background: #fff ;
   box-shadow: 0px 5px 9px #10173121;
 }

 .team-card .team-img{
   width: 100%;
   height: 19vmax;
   overflow: hidden;

 }
 .team-card .team-img img{
     width: 100%;


 }
 .team-card .content-team{
     box-sizing: border-box;
     text-align: center;
     padding: 1vmax;
 }
 .team-card .content-team h3{
     text-transform: uppercase;
     /* margin: 0; */
     margin-bottom: 0px;
     padding: 0;
     font-size: 1.5vmax;
     line-height: 2vmax;
     text-align: center;
     color: #000;

 }
 .team-card .content-team span{
     font-size: 1.2vmax;
      margin-bottom: 5px;
     color: #2fca13;
     font-weight: 400;
 }
.team-card .content-team a{
    margin-top: 5px;
}
/*--------------------------------------------------------Footer----------------------------------------------------*/
.site-footer
{
  margin-top: 50px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.youtube:hover
{
  background-color:#c4302b
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*--------------------------------------------------------media quaery----------------------------------------------------*/

@media only screen and (max-width: 600px){
    .banner{
        background-image: url(./images/web\ back\ xs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 85vh;
    }
    .jumbotron #typtext{
        color: #39ff14;
        font-size: 15vw;
        text-shadow: 0px 0px 8px #00000056;
    }


}


@media only screen and (min-width: 601px){
    .banner{
        background-image: url(./images/web\ back\ s.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }


}
@media (min-width: 768px){
    .banner{
        background-image: url(./images/web\ back\ md.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }


}

@media (min-width: 1024px){
    .banner{
        background-image: url(./images/web\ back\ l.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }

}

@media (min-width: 1200px){
    .banner{
        background-image: url(./images/web\ back\ lg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }

}
/*----small device scroll-----*/
